{% extends 'base/base.html' %}

{% block content %}

    <div class="container text-center text-md-start mt-5">
        <div class="col-lg-4 col-lg-offset-4">
            <h3>Login</h3>
            <form method="POST" action="{% url 'login profile' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}

                {% if messages %}
                    {% for message in messages %}
                            <div class="alert alert-danger">
                                <strong>{{ message }}</strong>
                            </div>
                    {% endfor %}
                {% endif %}

                <button type="submit" class="btn btn-secondary">Login</button>
            </form>
        </div>


        <h5 style="margin-top: 10px">If you don't have an account, <a href="{% url 'register profile' %}">register</a>
            instead.</h5>
    </div>

{% endblock %}