{% extends 'base/base.html' %}
{% load crispy_forms_filters %}

{% block content %}

    <div class="row d-flex justify-content-center" style="margin-top: 50px">
        <div class="col-md-4">
            <h3 style="margin-bottom: 20px">Login</h3>
            <form method="POST" action="{% url 'login profile' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-secondary">Login</button>
            </form>

            <h6 style="margin-top: 20px">If you don't have an account,
                <a href="{% url 'register profile' %}">register</a> instead.</h6>
        </div>


    </div>

{% endblock %}