{% extends 'base/base.html' %}
{% load crispy_forms_filters %}

{% block content %}

    <div class="row d-flex justify-content-center" style="margin-top: 50px">
        <div class="col-md-4">
            <h3 style="margin-bottom: 20px">Register</h3>
            <form method="POST" action="{% url 'register profile' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger">
                            <strong>{{ message }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}

                <button type="submit" class="btn btn-secondary">Register</button>
            </form>

                <h6 style="margin-top: 20px">If you already have an account,
                    <a href="{% url 'login profile' %}">login</a> instead.</h6>
        </div>
    </div>

{% endblock %}