{% extends 'base/base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="container-sm" style="margin-top: 50px">
        <div class="row">
            <div class="col-8 text-center">
                <figure class="figure border">
                    <img src="{{ watch.image.url }}" class="figure-img img-fluid rounded"
                         style="object-fit: cover; height: 500px" alt="{{ watch.brand }}">
                </figure>
            </div>
            <div class="col-4">
                <form>
                    <fieldset disabled>
                        <div class="mb-3">
                            <label for="disabledTextInput" class="form-label">Owner</label>
                            <input type="text" id="disabledTextInput" class="form-control"
                                   placeholder="{{ watch.owner.username }}">
                        </div>
                        <div class="mb-3">
                            <label for="disabledTextInput" class="form-label">Brand</label>
                            <input type="text" id="disabledTextInput" class="form-control"
                                   placeholder="{{ watch.brand }}">
                        </div>
                        <div class="mb-3">
                            <label for="disabledSelect" class="form-label">Model</label>
                            <input type="text" id="disabledTextInput" class="form-control"
                                   placeholder="{{ watch.model }}">
                        </div>
                        <div class="mb-3">
                            <label for="disabledSelect" class="form-label">Reference Number</label>
                            <input type="text" id="disabledTextInput" class="form-control"
                                   placeholder="{{ watch.reference_number }}">
                        </div>
                        <div class="mb-3">
                            <label for="disabledSelect" class="form-label">Production Year</label>
                            <input type="text" id="disabledTextInput" class="form-control"
                                   placeholder="{{ watch.year }}">
                        </div>
                        <div class="mb-3">
                            <label for="disabledSelect" class="form-label">Style</label>
                            <input type="text" id="disabledTextInput" class="form-control"
                                   placeholder="{{ watch.style }}">
                        </div>
                        <div class="mb-3">
                            <label for="disabledSelect" class="form-label">Condition</label>
                            <input type="text" id="disabledTextInput" class="form-control"
                                   placeholder="{{ watch.condition }}">
                        </div>
                        <div class="mb-3">
                            <label for="disabledSelect" class="form-label">Description</label>
                            <input type="text" id="disabledTextInput" class="form-control"
                                   placeholder="{{ watch.description }}">
                        </div>
                        <div class="mb-3">
                            <label for="disabledSelect" class="form-label">Uploaded</label>
                            <input type="text" id="disabledTextInput" class="form-control"
                                   placeholder="{{ watch.created_at }}">
                        </div>
                        <div class="mb-3">
                            <label for="disabledSelect" class="form-label">Last Updated</label>
                            <input type="text" id="disabledTextInput" class="form-control"
                                   placeholder="{{ watch.updated_at|timesince }} ago">
                        </div>
                    </fieldset>

                    {% if request.user.is_authenticated and request.user == watch.owner %}
                        <button type="button" onclick="location.href='{% url 'edit watch' watch.id %}'"
                                class="btn btn-outline-secondary me-1 flex-grow-1">Edit
                        </button>
                        <button type="button" onclick="location.href='{% url 'delete watch' watch.id %}'"
                                class="btn btn-danger flex-grow-1">Delete
                        </button>
                    {% endif %}

                </form>
            </div>
        </div>
    </div>

    <h6>Comments:</h6>
    {% if not comments %}
        <h6>There are no comments yet.</h6>
    {% else %}
        {% for comment in comments %}
            <div class="card">
                <div class="card-header">
                    {{ comment.author }} - {{ comment.created_on|timesince }} ago
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>{{ comment.body }}</p>
                    </blockquote>
                </div>
            </div>
            <hr>
        {% endfor %}
    {% endif %}

    {% if request.user.is_authenticated %}
        <form method="POST" action="">
            {% csrf_token %}
            {{ comment_form|crispy }}
            <button type="submit" class="btn btn-secondary">Comment</button>
        </form>
    {% endif %}
{% endblock %}